body{
  background-color: darkcyan;
}

.main-logo {
  width: 150px !important;
  height: auto !important;
  margin: 10px !important;
  text-align: center;
  border: solid 2px #fff;
  border-radius: 15px;
  padding: 1px;
  box-shadow: 1px 1px #0ee;

}
.main-image {
  display: inline-block;
}
.main-header {
  display: flex;
  background-color: #1f2d41;
  color: white ;
  text-shadow: 1px 1px 2px black;
  padding: 10px;
}

.header-child {
  flex: 1;
  text-align: right;
  display: inline-block;
}

.small-margin{
  margin: 0px 2px;
}
/*.App-logo {
  height: 40vmin;
  pointer-events: none;
}*/

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: //#282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.rightAlign{
  text-align: right;
}
